h1 {
    font-size: 50px;
    font-family: 'Verdana', 'Arial', sans-serif;
    text-align: center;
    color: white;
    padding: 10px;
    padding-bottom: 30px;
}

body {
    background-color: #007A78;
    line-height: 30px;
}

h2 {
    font-size: 40px;
    font-family: 'Verdana', 'Arial', sans-serif;
    color: white;
    padding: 10px;
}

h3 {
    font-size: 20px;
    font-family: 'Verdana', 'Arial', sans-serif;
    color: white;
    padding: 10px;
}

a,
span,
p,
figcaption {
    color: white;
    line-height: 30px;
    font-family: 'Verdana', 'Arial', sans-serif;
    padding: 10px;
}

a {
    text-decoration: underline;
}

img,
video {
    display: block;
    border: solid 5px white;
    width: 90%;
    padding: 10px;
    margin: 20px;
    border-radius: 30px;
}

ul,
ol {
    display: inline-block;
    line-height: 30px;
    margin-left: 50px;
    font-family: 'Verdana', 'Arial', sans-serif;
    color: white;
    padding: 10px;
}

nav {
    padding: 30px 30px 30px 0;
    text-align: right;
}

nav li {
    padding-right: 30px;
    display: inline;
    text-decoration: none;
}

nav a {
    text-decoration: none;
}

nav a:hover,
nav a:focus {
    text-decoration: underline;
}

.skip {
    position: fixed;
    top: -40px;
}

.skip:focus {
    position: fixed;
    top: 20px;
}

a.active {
    font-weight: bold;
    padding: 5px;
    border: solid 2px white;
    border-radius: 5px;
}

.pet-photo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
}

.food-image {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
}

.travel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
}

.travel-figure-5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
}

.travel-figure-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
}

@media (prefers-reduced-motion) {
    .gif {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .pet-photo,
    .food-image,
    .travel,
    .travel-figure-4,
    .travel-figure-5 {
        display: grid;
        max-width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        align-items: center;
        justify-content: space-around;
        justify-items: center;
    }
    nav {
        text-align: center
    }
    ;
    img {
        max-width: 90%;
    }
}